body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

#buttonContainer {
  margin-top: 20px;
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
#videoInput {
 display: none;
}
.custom-file-input {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}
#fileInputLabel {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

#asciiContainer {
  margin-top: 20px;
  text-align: center;
}

#asciiVideo {
  padding: 20px;
  border-radius: 5px;
  font-family: monospace;
}